.header {
  width: 100%;
  position:relative;
  left: 0;
  right:0;
  top: 0;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #000060;
  box-shadow: 0 5px; 10px rgba(0,0,0,.4);
  text-align: center;
  color: white;
}
